ion-card {
    border-radius: 10px !important;
  }
  
  
  
  ion-list-header {
    background: rgb(80, 116, 214);
    border-radius: 5px;
  }
  
  ion-item {
    background: rgb(44, 54, 82)!important;
  }
  
  // http://ionicframework.com/docs/theming/
  ion-content {
    background: rgb(44, 54, 82)!important;
  }
  
  ion-card {
    //adds background-color: #151f5e!important;
    border-radius: 10px !important;
  }
  
  ion-card-header {
    font-weight: bold;
    text-align: left;
    font-size: 16px !important;
  }
  
  ion-title {
    text-align: center;
  }
  
  
  
  ion-badge {
    background-color: #1d2482 !important;
    border-radius: 30px !important;
  }
  
  button {
    border-radius: 30px !important;
  }
  
  ion-slides {
    max-height: 35% !important;
  }
  
  p {
    font-size: 16px !important;
  }
  
  input,
  select,
  textarea {
    color: #ffffff;
  }
  
  textarea:focus,
  input:focus {
    color: #ffffff;
  }
  
  input::-webkit-input-placeholder {
    color: rgb(255, 255, 255) !important;
  }
  
  input:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(255, 255, 255) !important;
  }
  
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(255, 255, 255) !important;
  }
  
  input:-ms-input-placeholder {
    color: rgb(255, 255, 255) !important;
  }
  